<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>File URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Local file URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>netskip</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>paypal</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>youtube</string>
		<string>pocket</string>
		<string>firefox-focus</string>
		<string>firefox-klar</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>airmail</string>
		<string>italiaonline-mailto</string>
		<string>mailru-mailto</string>
		<string>mymail-mailto</string>
		<string>readdle-spark</string>
		<string>itms-books</string>
		<string>googlegmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
		<string>whatsapp</string>
		<string>comgooglemaps-x-callback</string>
		<string>foursquare</string>
		<string>here-location</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>comgooglemaps</string>
		<string>twitter</string>
		<string>vk</string>
		<string>waze</string>
		<string>googlechrome</string>
		<string>firefox</string>
		<string>touch-http</string>
		<string>yandexbrowser-open-url</string>
		<string>vimeo</string>
		<string>vine</string>
		<string>coub</string>
		<string>uber</string>
		<string>citymapper</string>
		<string>lyft</string>
		<string>opera-http</string>
		<string>ddgQuickLink</string>
		<string>moovit</string>
		<string>alook</string>
		<string>dgis</string>
		<string>microsoft-edge-http</string>
		<string>brave</string>
		<string>onionhttp</string>
		<string>ucbrowser</string>
		<string>dolphin</string>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>QuickActionIntent</string>
		<string>org.mozilla.ios.firefox.browsing</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
		<string>nearby-interaction</string>
		<string>bluetooth-central</string>
		<string>processing</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
			</array>
			<key>UTTypeDescription</key>
			<string>1Password Fill Browser Action</string>
			<key>UTTypeIdentifier</key>
			<string>org.appextension.fill-browser-action</string>
			<key>UTTypeSize64IconFile</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
